<html>
  <head>
  </head>
    <body>
   <img src="/images/einstein.jpg"></img>
   <h1><%= quote %></h1>
   <h3> Repository : <a href="https://github.com/ppsnathan/cfdsa">https://github.com/ppsnathan/cfdsa</a>  </h3>
    </body>


  </html>
